/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5; 
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
  margin: 0;
}

header {
  padding: 30px 0;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-top: solid 1px #275da1;
}

header .inner {
  display: block;
  position: relative;
  width: 40%;
  margin: 0 auto;
}

header h1 {
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
  margin-bottom: 0.2em;
  width: 540px;
}

header h2 {
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
  width: 540px;
  letter-spacing: 0;
}

.button {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
}
.button small {
  display: block;
  font-size: 11px;
}
header .button {
  display: block;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
  text-decoration: none;
}

article h1 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
  text-align: center;
} 
 
article h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

article h1 small {
  
}

article h1 small:before {
  content: "/";
  color: #307acf;
  padding: 0 .3em;
}

dt {
  font-weight: 500;
  padding-left: 2em;
  background-color: #f6f6f6
}

dt span {
  color: #ebebeb;
  padding-left: 1em;
  font-weight: 300;
}

dd {
  margin-left: 2em
}

.key {
  position: absolute;
  top: 8px;
  left: 150px;
  color: #efefef;
  font-size: 12px;
  letter-spacing: 5px;
}

.key.r {
  top: 0;
  left: 0;
  width: 100%;
  background: #FAFAFA;
  color: #dfdfdf;
  padding-left: 37px;
  letter-spacing: 4px;
  line-height: 22px;
  
}

.key.r + dl {
  margin-top: 22px;
}

.horizontal dt, .horizontal dd {
  float: left;
}

.horizontal dt {
  border: 0;
  clear: left;
  width: 100px;
  text-align: right;
  background-color: transparent;
}

.horizontal dt,
.horizontal dt + dd {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #efefef;
}

.horizontal dt:first-child,
.horizontal dt:first-child + dd {
  margin-top: 0;
  border-top: 0;
}

.horizontal dd {
  margin-left: 0;
  padding-left: 1em;
  width: 169px; /* to extend border */
}

.horizontal dd + dd {
  margin-left: 130px; /* to wrap next ones around and align */
}

ol {
  list-style-type: circle;
  margin: 0.5em 1em 1em;
  padding: 0;
}

/* #Media Queries
================================================== */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  header {
    padding: inherit 10em;
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding: 20px 0;
  }
  header .inner {
    width: 85%;
  }
  header h1, header h2 {
    width: 100%;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
  header .button {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                     
    border-radius: 5px;    
  }
  header .button small {
    font-size: 13px;
    display: inline;
  }
}