/* 
* Huge credit to Chris Coyier 
* http://css-tricks.com/examples/CSSTabs/radio.php#source-code
*/

/*** tabs container ***/
.tabs {
  position: relative;   
  min-height: 590px; /* This part sucks. Height of max content */
  clear: both;
  margin: 0 auto 2em;
  width: 320px; /* derp */
  border-bottom: 3px solid #307acf;
}

.content .tabs {
  margin: 0;
}

/*** TAB ***/
.tab {
  float: left;
  width: 160px; 
}

.tab-slim {
  width: 106px;
}

.content .tab {
  background: #307acf;
}

.tab [type=radio] {
  display: none;   
}

/*** LABEL for tab ***/
.tab label {
  position: relative;
  display: inline-block;
  width: 138px; /* 160px .tab - 10px padding * 2 */
  padding: 10px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-top: 5px;
  background-color: #eee;
  color: #888;
  text-align: center
}

article > .tabs > .tab:last-child > label {
  margin-left: 2px;
}

.content .tab-slim label {
  width: 82px;
}

.content label {
  width: 134px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #9ddcff;
  color: #4879d0;
}

label:hover {
  cursor: pointer;
  color: #474747;
}

/*** CONTENT for tab ***/
.content {
  position: absolute;
  top: 42px; /* TODO: figure out why */
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff; /* to hide what's behind */
  overflow: hidden;
}

.content .content {
  left: 3px;
  right: 3px;
}

.content.outer {
  background-color: #307acf;
}

/*** layering of tabs, marking as active ***/
[type=radio]:checked ~ label {
  z-index: 1;
  background-color: #307acf;
  color: #fff;
}

[type=radio]:checked ~ label ~ .outer {
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content .tabs label {
  z-index: 3;
}

[type=radio]:checked ~ label ~ .content [type=radio]:checked ~ label {
  background-color: #fdfdfd;
  color: #666;
}
[type=radio]:checked ~ label ~ .content [type=radio]:checked ~ label ~ .content {
  z-index: 4;
}
